*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

    /* Product */

  --brand-color-light: #60A5FA;
  --brand-color-dark:  #1DAED8;

    /* Base */

  --bg-color: #0F172A;
  --stroke-color: #1E293B;

   /* texts */

  --text-color-primary:  #F1F5F9;
  --text-color-secondary: #CBD5E1 ;
}

body{
  color: var(--text-color-primary);
  background: var(--bg-color);
}