/* utility-first 

são classes que só vão fazer uma única coisa

*/

.grid{
  display: grid;
}

.grid-flow-col{
  grid-auto-flow: column;
}

.grid-cols-2{
  grid-template-columns: 1fr 1fr;

}

.gap-16{
  gap: 16px;
}